.dashboard-container {
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ffffff; /* Borde blanco */
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.userinfo-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.userdata-state {
  display: flex;
  border-bottom: 2px solid #ffffff;
  justify-content: center;

  margin-bottom: 2px;
}

.userdata-state p {
  margin-inline: 45px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  flex: 1;
  padding-right: 20px;
}

.right-content {
  flex: 1;
  border: 2px solid #ffffff;
  padding: 10px;
}


.nav-options p,
.left-content p {
  color: #ffa500; /* Naranja vibrante */
  cursor: pointer;
  margin: 5px 0;
}

.nav-button {
  color: #ffa500;
  text-decoration: none;
}
.nav-button:hover {
  cursor: pointer;
  text-decoration: underline;
}



.right-content p {
  margin-bottom: 10px;
}

textarea#Placeholder {
  width: 100%;
  height: 100px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #ffffff;
  resize: none;
}
