html, body{
    height: 100%;
    background-color: #121212;

}
#root{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'JetBrains Mono', monospace;
}
p{
  color: #ffff;
}