
.autoscroll-container{
    margin-top: 20px;
    height: 60vh;    
     width: 100%;
}

.autoscroll-container,
.scroll-list{
    overflow-y: auto;
    width: 100%;

}

.item{
    border-color: black;
    border-style: solid;
    border-width: 1px;
        margin-top: 5px

}

.table-head-item{
    display: inline-block;
    margin-right: 2cm;
}

span{
    display: flex;
    height: max-content;
}
span>button{
    position:relative;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 17px;
    height:auto;
}
.inner-text{
    width: 70%;
}
span{
    display: flex;
    height: max-content;
}
span>button{
    position:relative;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 17px;
    height:auto;
}
.inner-text{
    width: 70%;
}
